.chat-user:hover{
  background-color: #d2d1d0 !important;
  text-decoration: none;
}

.bg-active{
  background-color: #f0efee!important;
  text-decoration: none;
}

.unreaded-msgs {
  margin-bottom: 0;
  font-weight: 400;
}

.bg-unreaded-msgs {
  background-color: #d2d1d0 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #323232;
}

img:hover {
  height: 55px;
}


