<div *ngIf="potencialFriends.length>0">
  <div class="proposals pad-5 bg-white z-index-top">
    <div *ngFor="let pf of potencialFriends">
    <div class="my-flex-container bg-white align-items-center">
      <app-online-chat-user class="width-250" [requestsWindow]="true" [user]="pf"></app-online-chat-user>
      <button (click)="clickAcceptFriendship(pf)" class="btn-sm btn-info mar-left-10 mar-right-10">Прифати</button>
      <button (click)="clickRejectFriendship(pf)" class="btn-sm btn-danger mar-left-10 mar-right-10">Одбиј</button>
    </div>
  </div>
  </div>
</div>
