<div class="my-flex-wrap-container ">
  <div class="bg-green pad-30 mar-30" *ngFor="let b of books;">
    <h2>{{b.volumeInfo.title}}</h2>

    <!--<p>{{b.volumeInfo.description}}</p>-->
    <p [innerHtml]="b.volumeInfo.description"></p>

  </div>
</div>


