<div class="flex-container flex-column">
  <p class="h6">Креирај објава:</p>

  <form action="" >
    <textarea [(ngModel)]="postText" (keyup.enter)="createPost(postText)" class="fullwidth"  type="text" name="post" placeholder="Што правиш/планираш?"></textarea>
  </form>
  <div class="my-flex-container justify-content-center">
    <button class="btn btn-info text-center" (click)="createPost(postText)">Објави</button>
  </div>
</div>
