<div class="my-flex-container my-justify-cont-center mar-15">
  <div class="my-flex-container my-flex-column my-align-items-center">
    <p class="h4">Find a book: </p>
    <form action="">
      <input (keyup)="searchText.emit($event.target.value)" name="search-book" type="text" placeholder="Search for a book">
    </form>
  </div>
</div>
