a:hover, a:focus{
  text-decoration: none !important;
  //color: white !important;
}

.header-container{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 50px;
}

.header-logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdfdfd;
  min-width: 200px;
}

.header-login-container{
  display: flex;
  align-items: center;
}

.header-bg{
  background: black;
}

.header-arrow-down{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.header-arrow-down:hover{
  background-color: #252424;
}

.header-user-prof-pic{
  display: flex;
  align-items: center;
}



.header-search{
  min-width: 200px;
  max-width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-btn-type-1{
  background-color: #323232;
  font-size: 14px;
}
.header-btn-type-1:hover{
  background-color: #414141;
}


.h-search-item{
  color: #64bde7;
  padding: 25px;
  padding-left: 15px;
}

.h-search-item:hover {
  background-color: #ebebeb;
}

.dropdown-users{
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  width: 100%;
  border: 2px solid #ebeaea;
}

.proposals-wrapper{
  position: relative;
}

.proposals-window {
  position: absolute;
  top: 60px;
  left: -350px;
}
