<div *ngIf="isUserLoggedIn()" class="header-container header-bg">
    <div class="header-logo-container" >
      <a class="h5"  href="#">Училишна Книга</a>
    </div>

    <div class="input-group header-search">
      <input #searchInput (keyup)="inputSearchUsers(searchInput.value)" lang="" type="text" class="form-control header-items-height" placeholder="Пребарувај ...">
      <div *ngIf="searchInput.value.length > 0" class="dropdown-users z-index-top">
        <div *ngFor="let su of searchedUsers" >
          <a [routerLink]="['/', su.username, 'wall']"
             class="header-user-prof-pic
                header-items-height
                h-search-item"
             (click)="searchInput.value=''">
            <img class="header-items-height" src="../../../../assets/profile_pics/{{su.avatarUrl}}" alt="">
            <p class="center-element pad-left-10 pad-right-10 ">{{su.firstName + ' ' + su.lastName + ' - ' + su.username}}</p>
          </a>
        </div>
      </div>
    </div>

    <div  class="my-flex-container align-items-center" >
        <a [routerLink]="['/', activeUser.username, 'wall']"
           class="header-user-prof-pic
          header-items-height
          header-btn-type-1"
        >
          <img class="header-items-height" src="../../../../assets/profile_pics/{{activeUser.avatarUrl}}" alt="">
          <p class="center-element pad-left-10 pad-right-10 jsh-text-gray">{{activeUser.firstName}}</p>
        </a>

        <a  [routerLink]="['/', activeUser.username, 'news-feed']"
           class="
          my-flex-container
          align-items-center
          mar-left-10
          mar-right-10
          btn-type-1
          header-items-height"
        >Почетна</a>

        <div class="proposals-wrapper" *ngIf="friendsRequestsLoadingDone">
          <app-middle-icons (friendsRequestIconClicked)="showFriendsRequestWindow=!showFriendsRequestWindow"
            (midIconsCompStartInit)="onMidIconsCompStartInit()"
            [user]="activeUser"
            [numOfUnreadedThreads]="numOfUnreadedThreads"
            [numOfFriendRequests]="friendsRequests.length"
            class="mar-left-30" ></app-middle-icons>
          <div *ngIf="showFriendsRequestWindow" class="proposals-window">
            <app-friends-requests
              (acceptFriendship)="onAcceptFriendship($event)"
              (rejectFriendship)="onRejectFriendship($event)"
              [potencialFriends]="friendsRequests"></app-friends-requests>
          </div>
        </div>



      <div ngbDropdown class="d-inline-block">
        <a class="header-items-height header-arrow-down" id="dropdownBasic1" ngbDropdownToggle>
          <span class="fa fa-caret-down color-white"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1">
          <button (click)="logOutUser()" [routerLink]="['/sing-in']"  class="dropdown-item">Одјави се</button>
          <button class="dropdown-item">Поставувања</button>
        </div>
      </div>

        <!--<a (click)="logOutUser()" [routerLink]="['/sing-in']" class="btn btn-info" >Одјави се</a>-->
    </div>
</div>


<div *ngIf="!isUserLoggedIn()" class="header-container header-bg">
  <div class="header-logo-container" >
    <a class="h5"  href="#">Училишна Книга</a>
  </div>
  <app-login (userLoginInput)="logInUser($event.username, $event.password )"  class="header-login-container"></app-login>
</div>

<!--<p *ngIf="wrongAuthAlertDisplay" class="alert alert-danger text-center" >Погрешно корисничко име или лозинка. Обидете се повторно.</p>-->
<ngb-alert *ngIf="showLoginAlert" [type]="loginAlert.type" (close)="showLoginAlert=false;" class="text-center">{{loginAlert.message}}</ngb-alert>

