/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/

body{
  background: ghostwhite!important;
}

.pad-0{padding: 0px;}
.pad-5{padding: 5px;}
.pad-10{padding: 10px;}
.pad-15{padding: 15px;}
.pad-20{padding: 20px;}
.pad-30{padding: 40px;}

.pad-top-5{padding-top: 5px;}
.pad-top-10{padding-top: 10px;}
.pad-top-15{padding-top: 15px;}
.pad-top-20{padding-top: 20px;}
.pad-top-30{padding-top: 30px;}

.pad-bottom-5{padding-bottom: 5px;}
.pad-bottom-10{padding-bottom: 10px;}
.pad-bottom-15{padding-bottom: 15px;}
.pad-bottom-20{padding-bottom: 20px;}
.pad-bottom-30{padding-bottom: 30px;}

.pad-left-5{padding-left: 5px;}
.pad-left-10{padding-left: 10px;}
.pad-left-15{padding-left: 15px;}
.pad-left-20{padding-left: 20px;}
.pad-left-30{padding-left: 30px;}

.pad-right-5{padding-right: 5px;}
.pad-right-10{padding-right: 10px;}
.pad-right-15{padding-right: 15px;}
.pad-right-20{padding-right: 20px;}
.pad-right-30{padding-right: 30px;}


.mar-0{margin: 0px;}
.mar-5{margin: 5px;}
.mar-10{margin: 10px;}
.mar-15{margin: 15px;}
.mar-20{margin: 20px;}
.mar-30{margin: 40px;}

.mar-top-5{margin-top: 5px;}
.mar-top-10{margin-top: 10px;}
.mar-top-15{margin-top: 15px;}
.mar-top-20{margin-top: 20px;}
.mar-top-30{margin-top: 30px;}

.mar-bottom-5{margin-bottom: 5px;}
.mar-bottom-10{margin-bottom: 10px;}
.mar-bottom-15{margin-bottom: 15px;}
.mar-bottom-20{margin-bottom: 20px;}
.mar-bottom-30{margin-bottom: 30px;}
.mar-bottom-100{margin-bottom: 100px;}

.mar-left-5{margin-left: 5px;}
.mar-left-10{margin-left: 10px;}
.mar-left-15{margin-left: 15px;}
.mar-left-20{margin-left: 20px;}
.mar-left-30{margin-left: 30px;}
.mar-left-50{margin-left: 50px;}
.mar-left-100{margin-left: 100px;}
.mar-left-150{margin-left: 150px;}

.mar-right-5{margin-right: 5px;}
.mar-right-10{margin-right: 10px;}
.mar-right-15{margin-right: 15px;}
.mar-right-20{margin-right: 20px;}
.mar-right-30{margin-right: 30px;}
.mar-right-50{margin-right: 50px;}
.mar-right-100{margin-right: 100px;}
.mar-right-250{margin-right: 250px;}

.font-size-12{
  font-size: 12px;
}

.font-size-14{
  font-size: 14px;
}

.fullwidth{
  width: 100%;
}
.width-610{
  width: 610px;
}
.width-550{
  width: 550px;
}
.width-500{
  width: 500px;
}
.width-300{
  width: 300px;
}
.width-250{
  width: 250px;
}
.width-280{
  width: 280px;
}

.height-50{
  height: 50px;
}

.height-100{
  height: 100px;
}

.height-250{
  height: 250px;
}

.height-40{
  height: 40px;
}

.header-items-height{
  height: 30px;
}

.jsh-text-gray{
  color: #f7f7f7;
}

. post{
  border: 2px solid #d6d6d6;
  background: #fdfdfd;
}

.border-2-red{
  border: 5px solid rgba(220, 44, 0, 0.46);
}
.border-2-gray{
  border: 2px solid #434343;
}
.border-2-lightgray{
  border: 2px solid #e9e9e9;
}
.border-1-lightgray{
  border: 1px solid #e9e9e9;
}
.border-top-2-lightgray{
  border-top: 2px solid #e9e9e9;
}



.bg-red{
  background: rgba(255, 0, 0, 0.22);
}

.bg-blue{
  background: rgba(0, 0, 255, 0.22);
}

.bg-green{
  background: rgba(21, 255, 58, 0.22);
}

.bg-white{
  background: rgb(255, 255, 255);
}
.bg-black{
  background: rgb(22, 22, 22);
}


.my-flex-container{
  display: flex;
}

.my-flex-wrap-container{
  display: flex;
  flex-wrap: wrap;
}

.my-flex-column{
  flex-direction: column;
}

.my-justify-cont-center{
  justify-content: center;
}

.my-align-items-center{
  align-items: center;
}

.flex-dont-shrink{
  flex: 1 0 auto;
}


.btn-gray{
  background-color: #373737;
  border-color: black;
}

.color-white{
  color: white;
}

.center-element{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn-type-1{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  background-color: #323232;
}
.btn-type-1:hover, .btn-type-1:focus{
  text-decoration: none !important;
  color: white !important;
  background-color: #414141;
}

.z-index-top{
  z-index: 1;
}
