<a [routerLink]=""  class="my-flex-container chat-user pad-top-5 pad-bottom-5 "
   [ngClass]="{'animated': animation, 'rubberBand': animation}">
  <img class="border-2-lightgray mar-right-5 height-50" src="../../../../../assets/profile_pics/{{user.avatarUrl}}" alt="">

  <p *ngIf="!requestsWindow" class="h6 mar-0 pad-0 center-element">{{user.firstname + ' '+ user.lastname }}</p>
  <p *ngIf="requestsWindow" class="h6 mar-0 pad-0 center-element">{{user.firstName + ' '+ user.lastName }}</p>
</a>
