<div class="flex-container
  flex-column
  bg-white
  pad-10
  mar-top-20
  mar-bottom-20
  width-550
  border-2-lightgray" [ngClass]="{'animated': animation, 'rubberBand': animation}" >
  <div class="my-flex-container">
    <a [routerLink]="['/',creatorOfPost.username,'wall']"><img class="border-2-lightgray mar-right-5 height-50" src="../../../../../assets/profile_pics/{{creatorOfPost.avatarUrl}}" alt=""></a>

    <div>
      <p class=" h6 mar-0 pad-0"><a [routerLink]="['/',creatorOfPost.username,'wall']">{{creatorOfPost.firstName + ' ' + creatorOfPost.lastName}}</a></p>
      <p class="font-size-12 mar-right-100">{{post.timeCreated}}</p>
    </div>
    <!--<a href="#" class="more-btn-pos-post float-right">...</a>-->
  </div>

  <div class="border-top-2-lightgray pad-5">
    <p>{{post.text}}</p>
  </div>

  <div class="my-flex-container
      justify-content-around
      align-items-center
      border-top-2-lightgray">
    <div class="mar-right-20 "><p class="mar-0 pad-5"><a href="#">Ми се допаѓања</a></p></div>
    <div class="mar-right-20 "><p class="mar-0 pad-5"><a href="#">Коментирај</a></p></div>
    <div class=""><p class="mar-0 pad-5"><a href="#">Сподели</a></p></div>
  </div>
</div>
