<div *ngIf="isUserLoggedIn() && doneLoadingUser">
  <div>
    <app-header></app-header>
    <div class="my-flex-container  mar-top-30">
      <app-sidebar-cont [wallUser]="wallUser" class="mar-left-100 hidden-lg-down"></app-sidebar-cont>

      <div class="mar-left-50 pad-10 bg-white border-2-lightgray ">
       <app-chat-main-container></app-chat-main-container>
      </div>

      <!--list-of-online-friends-for-chat-->
      <app-list-of-online-chat-users></app-list-of-online-chat-users>
    </div>
  </div>
</div>
