<p class="h5">Пораки:</p>
<div class="my-flex-container">
  <div>
    <app-list-chat-threads (threadChanged)="onThreadChange($event)" [activeUser]="activeUser" [activeThread]="activeThread" [userThreads]="activeUserThreads" ></app-list-chat-threads>
  </div>
  <div>
    <app-chat-message-center (messageSent)="onMessageSent($event)" [messagesByThread]="messagesByThread" [activeUser]="activeUser" ></app-chat-message-center>
  </div>
</div>
