<div>
  <app-book-navbar></app-book-navbar>
  <app-search-book (searchText)="searchBooks($event)"></app-search-book>
  <p>{{searchText}}</p>
  <app-book-collections-grid [books]="books$ | async "></app-book-collections-grid>

</div>


