<app-book-navbar></app-book-navbar>
<p class="h3 text-center">My Book Collection: </p>
<!--<app-book-collections-grid [books]="books$"></app-book-collections-grid>-->
<app-book-collections-grid [books]="books"></app-book-collections-grid>
