<div class="my-flex-container bg-black pad-10 ">
  <a [routerLink]="['/my-book-collections']" class="btn btn-lg btn-info mar-left-10">My Collection</a>
  <a [routerLink]="['/search-book']" class="btn btn-lg btn-info mar-left-10">Browse books</a>
</div>
