.pos-bottom{
  position: fixed;
  bottom: 0;
  right: 0px;
}

.scroll{
  overflow: scroll;
  overflow-x: hidden;
}

.collapse {
  background-color: #64bde7;
}

.x-container {
  position: relative;
}
.x{
  position: absolute;
  top: 10px;
  left: 240px;
  padding: 0;
  margin: 0;
  color: white;
}
