<div *ngIf="isUserLoggedIn() && doneLoadingUser">
  <div>
    <app-header></app-header>
    <div class="my-flex-container  mar-top-30">
      <app-sidebar-cont [wallUser]="wallUser" class="mar-left-100"></app-sidebar-cont>

      <div class="mar-left-50 pad-10 bg-white border-2-lightgray width-550 ">
        <p class="h5 text-center">Детали за профилот:</p>

        <br>

        <p>Име : {{wallUser.firstName}}</p>
        <p>Презиме : {{wallUser.lastName}}</p>
        <p>Корисничко Име : {{wallUser.username}}</p>
      </div>

      <!--list-of-online-friends-for-chat-->
      <app-list-of-online-chat-users></app-list-of-online-chat-users>
    </div>
  </div>
</div>
