<!--<div class="container pad-top-100">-->
<div class="my-flex-container mar-30">
  <div >
      <!--<p class="h2 text-center">Happier Classrooms </p>-->
      <!--<p class="h5 text-center ">The simple way to build an amazing classroom community</p>-->
      <p class="h2 text-center">Заедно до посреќни училници</p>
      <p class="h6 text-center ">Преку соработка до поуспешно образование</p>

      <br>
      <br>
      <br>

      <p class="h3 text-center">Зачлени се како:</p> <br>

      <div class="my-flex-container justify-content-between">
        <a (click)="setTypeProfile(1)" class="my-flex-container my-flex-column mar-15 animated fadeIn avatar">
          <img src="../../../../assets/profile_pics/teacher_male.jpg" alt="">
          <button class="btn btn-lg">Наставник</button>
        </a>

        <a (click)="setTypeProfile(2)" class="my-flex-container my-flex-column mar-15 animated fadeIn avatar">
          <img src="../../../../assets/profile_pics/student_male.jpg" alt="">
          <button class="btn btn-lg">Ученик</button>
        </a>

        <a (click)="setTypeProfile(3)" class="my-flex-container my-flex-column mar-15 animated fadeIn avatar">
          <img src="../../../../assets/profile_pics/parent_male.jpg" alt="">
          <button class="btn btn-lg">Родител</button>
        </a>
      </div>

  </div>

  <div [ngSwitch]="typeProfile" class="mar-left-100 ">
    <div *ngSwitchCase="1" class="animated slideInRight">
      <form>
        <label for="reg-username1">Корисничко Име:</label><input class="form-control" #regUsername1 id="reg-username1" name="username" type="text">
        <p *ngIf="showUsernameError" class="text-danger error-size">*Корисничкото име не е слободно. Изберете друго корисничко име.</p>
        <label for="reg-password1">Лозинка:</label><input class="form-control" #regPassword1 id="reg-password1" name="password" type="password">

        <label for="reg-firstname1">Име:</label><input class="form-control" #regFirstname1 id="reg-firstname1" name="firstname" type="text">
        <label for="reg-lastname1">Презиме:</label><input class="form-control" #regLastname1 id="reg-lastname1" name="lastname" type="text">
        <label for="reg-school1">Училиште:</label><input class="form-control" #regSchool1 id="reg-school1" name="school" type="text">

        <br>
        <label >Пол:</label><br>
        <div class="center-element">
          <input #regGenderMale1 name="gender1" type="radio" value="male" class="mar-right-5" checked="checked"><p class="center-element">Машко</p>
          <input name="gender1" type="radio" value="female" class="mar-left-20 mar-right-5"><p class="center-element">Женско</p>
        </div>
        <br>
      </form>
      <div class="center-element">
        <button (click)="createTeacherProfile(regUsername1.value,regPassword1.value, regFirstname1.value, regLastname1.value, regGenderMale1.checked, regSchool1.value)" class="btn btn-lg btn-info c" >Креирај Профил</button>
      </div>

    </div>
    <div *ngSwitchCase="2" class="animated slideInRight">
      <form>
        <label for="reg-username2">Корисничко Име:</label><input class="form-control" #regUsername2 id="reg-username2" name="username" type="text">
        <p *ngIf="showUsernameError" class="text-danger error-size">*Корисничкото име не е слободно. Изберете друго корисничко име.</p>
        <label for="reg-password2">Лозинка:</label><input class="form-control" #regPassword2 id="reg-password2" name="password" type="password">

        <label for="reg-firstname2">Име:</label><input class="form-control" #regFirstname2 id="reg-firstname2" name="firstname" type="text">
        <label for="reg-lastname2">Презиме:</label><input class="form-control" #regLastname2 id="reg-lastname2" name="lastname" type="text">
        <label for="reg-school2">Училиште:</label><input class="form-control" #regSchool2 id="reg-school2" name="school" type="text">


        <br>
        <label >Пол:</label><br>
        <div class="center-element">
          <input #regGenderMale2 name="gender2" type="radio" value="male" class="mar-right-5" checked="checked"><p class="center-element">Машко</p>
          <input name="gender2" type="radio" value="female" class="mar-left-20 mar-right-5"><p class="center-element">Женско</p>
        </div>
        <br>
      </form>
      <div class="center-element">
        <button (click)="createStudentProfile(regUsername2.value,regPassword2.value, regFirstname2.value, regLastname2.value, regGenderMale2.checked)" class="btn btn-lg btn-info c" >Креирај Профил</button>
      </div>
    </div>
    <div *ngSwitchCase="3"  class="animated slideInRight">
      <form>
        <label for="reg-username3">Корисничко Име:</label><input class="form-control" #regUsername3 id="reg-username3" name="username" type="text">
        <p *ngIf="showUsernameError" class="text-danger error-size">*Корисничкото име не е слободно. Изберете друго корисничко име.</p>
        <label for="reg-password3">Лозинка:</label><input class="form-control" #regPassword3 id="reg-password3" name="password" type="password">

        <label for="reg-firstname3">Име:</label><input class="form-control"  #regFirstname3 id="reg-firstname3" name="firstname" type="text">
        <label for="reg-lastname3">Презиме:</label><input class="form-control" #regLastname3 id="reg-lastname3" name="lastname" type="text">
        <label for="reg-parentfor3">Родител на:</label><input class="form-control" #regParentFor id="reg-parentfor3" name="school" type="text">

        <br>
        <label >Пол:</label><br>
        <div class="center-element">
          <input #regGenderMale3 name="gender3" type="radio" value="male" class="mar-right-5" checked="checked"><p class="center-element">Машко</p>
          <input name="gender3" type="radio" value="female" class="mar-left-20 mar-right-5"><p class="center-element">Женско</p>
        </div>
        <br>
      </form>
      <div class="center-element">
        <button (click)="createParentProfile(regUsername3.value,regPassword3.value, regFirstname3.value, regLastname3.value, regGenderMale3.checked, regParentFor.value)" class="btn btn-lg btn-info c" >Креирај Профил</button>
      </div>
    </div>
    <div *ngSwitchDefault></div>
  </div>

</div>
