a:hover, a:focus{
  text-decoration: none !important;
  color: white !important;
  background-color: #252424;
}

.marg-pad-left-right-13{
  padding-left: 13px;
  padding-right: 13px;
}

.number{
  position: absolute;
  left: -5px;
  top: -18px;
  color: white !important;
  background: red;
  font-size: 12px;
  padding: 2px;
  padding-top: 1px;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 3px;
}
.number:hover{
  color: white !important;
  background: #ff7b05;
}

.number-wrapper{
  position: relative;
}

a:hover .number {
  background: #ff6c1d
}

