<div class="my-flex-container">
  <a (click)="onFriendsRequestIconClicked()"
     (blur)="friendRequestDeselect.emit()"
     [routerLink]="" class=" header-items-height center-element marg-pad-left-right-13">
    <span class="fa fa-users color-white"></span>
    <div class="number-wrapper">
      <span *ngIf="numOfFriendRequests>0" class="number">{{numOfFriendRequests}}</span>
    </div>
  </a>

  <a [routerLink]="['/',user.username, 'messages']"  class=" header-items-height center-element marg-pad-left-right-13">
    <span class="fa fa-envelope color-white "></span>
    <div class="number-wrapper">
      <span *ngIf="numOfUnreadedThreads>0" class="number">{{numOfUnreadedThreads}}</span>
    </div>
  </a>

  <a href="#" class=" header-items-height center-element marg-pad-left-right-13">
    <span class="fa fa-eercast color-white"></span>
    <div class="number-wrapper">
      <!--<span class="number">1</span>-->
    </div>
  </a>

</div>
