.messagesGr {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 2px solid #e9e9e9
}

form textarea {
  padding: 20px;
  border-radius: 15px;
  outline: none;
  padding-bottom: 0px;
}


::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: #e5e5e5;
  /*box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;*/
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: none;
  border-radius: 100px;
  border: solid 3px #e5e5e5;
  box-shadow: inset 0px 0px 3px #999;
}

/*::-webkit-scrollbar-thumb:hover {*/
  /*background: #b0b0b0;*/
  /*box-shadow: inset 0px 0px 3px #888;*/
/*}*/

/*::-webkit-scrollbar-thumb:active {*/
  /*background: #aaa;*/
  /*box-shadow: inset 0px 0px 3px #7f7f7f;*/
/*}*/

/*::-webkit-scrollbar-button {*/
  /*display: block;*/
  /*height: 26px;*/
/*}*/
