<div *ngIf="isUserLoggedIn() && doneLoadingUser && doneLoadingUserFriends">
  <div>
    <app-header></app-header>
    <div class="my-flex-container  mar-top-30">
      <app-sidebar-cont [wallUser]="wallUser" class="mar-left-100"></app-sidebar-cont>

      <div class="mar-left-50 pad-10 bg-white border-2-lightgray ">
        <p class="h5">Пријатели:</p>
        <div class="my-flex-container flex-wrap width-610 pad-left-10 pad-top-15">
          <div *ngFor="let f of userFriends;">
            <app-user-display-friends [user]="f"></app-user-display-friends>
          </div>
        </div>
      </div>

      <!--list-of-online-friends-for-chat-->
      <app-list-of-online-chat-users></app-list-of-online-chat-users>
    </div>
  </div>
</div>
